<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3aiomz6LJNDNNVGCrEmWnbvUoBuxBWzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>30745917348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poshpicks.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>poshpicks-389d4</string>
	<key>STORAGE_BUCKET</key>
	<string>poshpicks-389d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30745917348:ios:bf1bb073861ef7a74ef331</string>
	<key>DATABASE_URL</key>
	<string>https://poshpicks-389d4-default-rtdb.firebaseio.com</string>
</dict>
</plist>